{% include 'tpl/head.html.twig' %}
<!-- RECO -->

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>villes pouvant vous interesser</h1>

            {% for city_info in cities_infos %}

                <div class="panel panel-default">

                    <div class="panel-body">

                        <p><strong>{{ city_info['city_name'] }}</strong></p>
                        <p>{{ city_info['city_country_name'] }}</p>

                        <form action="{{ path('recommendationDetail') }}" method="POST">

                            <input type="hidden" name="city_id" value="{{ city_info['city_id_numbeo'] }}">
                            <input type="submit" value="voir la ville" name="voirVilleSubmit">

                        </form>

                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

</div>

<script>

</script>

<!-- /RECO -->
{% include 'tpl/footerrecoresults.html.twig' %}