{% include 'tpl/head.html.twig' %}
<!-- RECO -->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>user score</h1>

            <div id="userscore">
            </div>

        </div>
    </div>

</div>

<script>

    /*
    var user_score_eclater = {% if user_score_ratio is defined %}{{ user_score_ratio['éclater'] }}{% else %}null{% endif %}
    var user_score_investir = {% if user_score_ratio is defined %}{{ user_score_ratio['investir'] }}{% else %}null{% endif %}
    var user_score_culture = {% if user_score_ratio is defined %}{{ user_score_ratio['culture'] }}{% else %}null{% endif %}
    var user_score_humanitaire = {% if user_score_ratio is defined %}{{ user_score_ratio['humanitaire'] }}{% else %}null{% endif %}
    */

</script>

<!-- /RECO -->
{% include 'tpl/footerrecoresults.html.twig' %}